@import 'styles/_variables.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.8;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.error-message {
  color: red;
}

.accented-text {
  color: $green_300;
}

@import "styles/element-ui-override";
@import "styles/maz-ui-override";

